.comment__zoom__wrapper {
    margin-bottom: 5px;
    width: 400px;
    padding: 10px;
    background-color: #e6e0e0;   
}
.comment__zoom__name {
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #7c7a7ab6;
}
.comment__zoom__email {
    font-size: 18px;
}
.comment__zoom__body {
    font-size: 18px;
}
