.comment__wrapper {
    margin-bottom: 5px;
    width: 400px;
    padding: 10px;
    background-color: #e6e0e0;   
}
.comment__name {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #7c7a7ab6;

}
